#about {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        opacity: 0;
        transition: all 1s cubic-bezier(.15, .57, .09, .97);
    }

    .about--wrapper {
        position: fixed;
        width: 100%;
        max-width: 90rem;
        top: 0;
        z-index: 1;

        .about--columns {
            display: flex;
            gap: 2rem;
            padding: 0 6rem;
            position: relative;
            width: 100%;

            .about--column {
                position: absolute;
                left: 50%;
                top: 0rem;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 1.5s cubic-bezier(.15, .57, .09, .97);
            }

            .about--box {
                position: relative;
                margin-bottom: 2rem;
                height: 28rem;
                width: 24.5rem;
                transform: rotateX(50deg) rotateY(60deg) rotateZ(-45deg);
                transition: all 1.5s cubic-bezier(.15, .57, .09, .97) 300ms;
                box-shadow: rgb(249, 224, 219, 0.2) 0px 5px 15px;
                padding: 3rem 2rem;
                border-radius: 40px;
                background-color: var(--fontColor);
                color: black;
                // transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);



                &:hover {
                    transform: scale(1.01);

                    .pink-flower {
                        transform: rotate(375deg);
                    }
                }

                .pink-flower {
                    transform: rotate(15deg);
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-bottom: 1rem;
                    transition: all 600ms cubic-bezier(.15, .57, .09, .97);
                }

                .name {
                    margin-bottom: 1rem;
                    font-weight: 600;
                    font-size: 2rem;
                    letter-spacing: unset;
                }
            }

        }


    }

}

#about {
    &.about-visible {
        .about--wrapper {
            .title {
                opacity: 1;
            }
        }

        .about--columns {

            .about--column {
                opacity: 1;

                &.left {
                    left: calc(25%);
                    transform: translateX(-75%);
                }

                &.middle {
                    top: 4rem;
                }

                &.right {
                    top: 8rem;
                    left: calc(75%);
                    transform: translateX(-25%);
                }

                .about--box {
                    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                }

            }
        }
    }
}