#about {
    display: flex;
    align-items: center;
    justify-content: center;

    .about--wrapper {
        width: 100%;
        max-width: 90rem;

        &.show {
            .about--title {
                animation: show 1.25s ease-in forwards;
            }

            @keyframes show {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        .about--title {
            font-size: 10rem;
            padding: 2rem 0;
            letter-spacing: .5rem;
            opacity: 0;
        }

        .about--columns {
            display: flex;
            gap: 2rem;
            padding: 4rem 6rem;

            .about--box {
                border-radius: 1.5rem;
                background-color: rgba(249, 224, 219);
                color: black;
                padding: 3rem 2rem;
                margin-bottom: 2rem;
                box-shadow: rgb(249, 224, 219, 0.2) 0px 5px 15px;

                .pink-flower {
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-bottom: 2rem;
                }

                .about--header {
                    margin-bottom: 3rem;
                    font-size: 1.5rem;
                }
            }
        }

        .middle {
            margin-top: 4rem;
        }

        .right {
            margin-top: 8rem;
        }
    }
}