#about {
    display: flex;
    align-items: center;
    justify-content: center;

    .about--wrapper {
        width: 100%;
        max-width: 90rem;

        &.show {
            .title {
                animation: show 1.25s ease-in forwards;
            }

            @keyframes show {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        .title {
            opacity: 0;
        }

        .about--columns {
            display: flex;
            gap: 2rem;
            padding: 4rem 6rem;


            .about--box {
                border-radius: 1.5rem;
                background-color: rgba(249, 224, 219);
                color: black;
                padding: 3rem 2rem;
                margin-bottom: 2rem;
                box-shadow: rgb(249, 224, 219, 0.2) 0px 5px 15px;
                height: 34rem;
                width: 24.5rem;
                transition: all 300ms ease;

                &:hover {
                    transform: scale(1.01);

                    .pink-flower {
                        transform: rotate(375deg);
                    }
                }

                .pink-flower {
                    transform: rotate(15deg);
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-bottom: 2rem;
                    transition: all 600ms cubic-bezier(.15, .57, .09, .97);
                }

                .name {
                    margin-bottom: 3rem;
                    font-weight: 600;
                    font-size: 2rem;
                }
            }

            about--box:hover {
                border: 2px solid red;
            }
        }

        .middle {
            margin-top: 4rem;
        }

        .right {
            margin-top: 8rem;
        }
    }
}