#projects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .projects--wrapper {
        width: 100%;
        max-width: 90rem;

        .columns {
            display: flex;
            gap: 2rem;
            padding: 4rem 6rem;

            .column-1 {
                width: 32rem;
                height: 100%;
                flex-grow: 1;

                .project__name--box {
                    display: flex;
                    align-items: center;
                    border: 2px solid white;
                    border-radius: 1rem;
                    padding: 2rem 1rem;
                    margin-bottom: 1rem;
                    cursor: pointer;
                    transition: border 300ms ease, transform 200ms ease;
                    position: relative;

                    &:hover {
                        border: 2px solid pink;
                    }

                    &:active {
                        transform: scale(0.96);
                    }

                    .heart {
                        filter: invert(1);
                        width: 2rem;
                        height: 2rem;
                        margin-right: 2rem;
                    }

                    .pink-heart {
                        filter: none;
                    }
                }

                .selected {
                    border: 2px solid pink;
                }
            }

            .column-2 {
                width: 45rem;
                display: flex;
                justify-content: center;
                
                .project--img {
                    width: 100%;
                    height: 35rem;
                    border-radius: 1rem;
                    object-fit: cover;
                    opacity: 1;
                }

                .fade-in {
                    animation: fadeIn 1s ease;
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                .fade-out {
                    animation: fadeOut 1s ease-in;
                }

                @keyframes fadeOut {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }

                .netflix--img {
                    object-position: left;
                }

                .treact--img {
                    object-position: 28%;
                }

                .eportfolio--img {
                    object-position: 40%;
                }
            }

            .column-3 {
                width: 45rem;
                position: relative;

                .description {
                    margin-bottom: 2rem;
                }

                .links {
                    display: flex;
                    gap: 0.5rem;
                    cursor: pointer;

                    .clickable {
                        font-size: 1.5rem;
                        color: white;
                        margin-right: 0.2rem;
                        transition: all 300ms ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .languages {
                    margin-bottom: 1rem;
                }

                .bar--container {
                    border-radius: 1rem;
                    overflow: hidden;
                    width: 27rem;
                    position: absolute;
                    bottom: 3rem;

                    span {
                        display: block;
                    }

                    .bar {
                        background: rgba(158, 157, 157, 0.2);

                        .loading {
                            position: relative;
                            background: pink;
                            color: #fff;
                            height: 0.3rem;
                            width: 0;
                        }

                        .animate {
                            animation: loader 6s linear infinite;
                        }
                    }
                }

                @keyframes loader {

                    0% {
                        width: 0;
                    }

                    100% {
                        width: 100%;
                    }

                }

            }
        }
    }
}