#projects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .projects--wrapper {
        width: 100%;
        max-width: 90rem;

        .columns {
            display: flex;
            gap: 2rem;
            padding: 4rem 6rem;

            .column-1 {
                width: calc(100% / 3);

                .project__name--box {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    border: 2px solid white;
                    border-radius: 1rem;
                    padding: 1rem 2rem;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    .heart {
                        filter: invert(1);
                        width: 2rem;
                        height: 2rem;
                        margin-right: 2rem;
                    }

                    .pink-heart {
                        filter: none;
                    }  
                }

                .selected {
                    border: 2px solid pink;
                }
            }

            .column-2 {
                display: flex;
                justify-content: center;

                .project--img {
                    width: 30rem;
                    height: 35rem;
                    border-radius: 1rem;
                    object-fit: cover;
                }

                .netflix--img {
                    object-position: left;
                }

                .treact--img {
                    object-position: 30%;
                }

                .eportfolio--img {
                    object-position: 40%;
                }
            }
        }
    }
}